.navbar{
    background-color: #3399FF;

}

.navbar-brand-logo {
    width: 45px;
    height: auto;
}

.navbar a{
    color: white;
}
@media(max-width: 991px){
    .landing-page .offcanvas{
        backdrop-filter: blur(10px);
        background-color:#3399FF;
    }   
}

.hero-section{
    margin-top: 71px;
    background: url(../assets/img/hero-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-page h2, 
.landing-page h3,
.landing-page h4,
.landing-page h5{
    color: #3399FF;
}